@import "_variables.scss";

.text-center {
    text-align:center;
}

.vertical-space-sm {
    margin-top: $vertical-space-sm;
    margin-bottom: $vertical-space-sm;
}

.vertical-space-md {
    margin-top: $veritcal-space-md;
    margin-bottom: $veritcal-space-md;
}

.vertical-space-lg {
    margin-top: $vertical-space-lg;
    margin-bottom: $vertical-space-lg;
}