@import "_base.scss";

.dropdown-container {
    position:relative;
    display:inline-block;
}

.dropdown-btn {
    border-radius:3px;
    border-width:1px;
    border-color: $color-third;
    border-style: solid;
    padding:4px 12px;
    cursor: pointer;
}

.dropdown-content {
    display:none;

    background-color: $shadow-color;

    //Flexbox properties
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;

    border: 1px solid $color-third;
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;


    position: absolute;
    margin-top:4px;
    padding-top:1rem;

    min-width:160px;

    z-index: 500;

    .dropdown-item {
        margin-left:1rem;
        margin-right:1rem;
        font-size:type-scale(0);

        display:flex;
        flex-direction:row;
        flex-wrap:nowrap;
        justify-content:flex-start;
        align-items:center;
    }

    .dropdown-item input {
        margin: 0 1rem 0 0;
        cursor:pointer;
    }

    .dropdown-item input[type=checkbox] {
        vertical-align:middle;
    }
}

.dropdown-show {
    display:flex;
}