@import "_base.scss";

footer {
    background-color: $shadow-color;
    height: $footer-height;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    vertical-align:middle;
}

.footer-right {
    height:$footer-height;
    line-height:$footer-height;
    margin-right:2rem;
}

.footer-right-image {
    margin-left:1rem;
    height:$footer-height * .5;
    width:auto;
}