//@import "../vendor/bootstrap/_bootstrap.scss";

$base-font-size: 1rem;
$base-line-height: $base-font-size * 1.25;

$background-color: #F7F9F9;
$shadow-color: #f8f8f8;
$color-third: darken($background-color, 5%);
$text-light-color: lighten(#000000, 40%);

$footer-height: 60px;

$home-vertical-space: 10vh;
$anncoucement-vertical-space: 50px;

$searchbar-max-width: 800px;
$searchbar-price-max-width: 300px;
$searchbar-ship-max-width: 400px;
$searchbar-bar-height: 4rem;

$advanced-tools-mobile-max-width:500px;

/*
    Item Colors
*/

$item-price-color:#e06500;