<div class="row">
    <h2>Why join Aliseeks?</h2>
</div>

<div class="row">
    <div class="col-md-3">
        <div style="background-color:black; width:100px;height:100px;"></div>
    </div>
    <div class="col-md-9">
        <p>I am a one-man team dedicated to delivering the best international sourcing experience possible.</p>
        <p>This website arose from my own needs of finding the lowest price per piece on Aliexpress.</p>
    </div>
</div>

<div class="row">
    <h4>Future Plans</h4>
</div>

<div class="row">
    <div class="col-md-8 col-center">
        <p>This is where it gets good</p>
        <ul>
            <li>Search caching for a better overall experience</li>
            <li>Search integration will allow the ability to integrate other popular websites such as DHGate and Alibaba into searches</li>
            <li>Price alerts will allow members to receive alerts when prices are low or high</li>
            <li>Price history will retain search information and generate a price history overtime</li>
            <li>Dropshipping feeds will allow dropshippers to receive raw JSON data and use at their will</li>
        </ul>
    </div>
</div>