@{
    ViewBag.Title = "About - Aliseeks";
}

<link href="~/lib/landing-template/landing-page.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
<!-- Header -->
<a name="about"></a>
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Aliseeks</h1>
                    <h3>Our Mission</h3>
                    <hr class="intro-divider">
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.intro-header -->
<!-- Page Content -->
<a name="services"></a>
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">The Vision</h2>
                <p class="lead">
                    Aliseeks is <b>search engine</b> that combines the results and provides extra functionality for popular international shopping websites such as <b>Aliexpress, DHGate, and Alibaba.</b><br/>
                    Aliseeks is a rapidly growing web community and is ongoing constant development to add new, innovative features to bring the best information at only a few clicks away.
                </p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive img-thumbnail" src="~/images/about/beckerslab.jpg" alt="">
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.content-section-a -->
<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Features in the works</h2>
                <p class="lead">
                    <ul class="feature-list fa-ul">
                        <li>
                            <i class="fa fa-check-square-o fa-fw" aria-hidden="true"></i><b>Search caching</b> for overall better experience dropping search times by over 75%
                        </li>
                        <li>
                            <i class="fa fa-square-o fa-fw" aria-hidden="true"></i><b>Search integration</b> with DHGate and Alibaba
                        </li>
                        <li>
                            <i class="fa fa-square-o fa-fw" aria-hidden="true"></i><b>Price Alerts</b> will provide smart noficiations to alert users of price extremes

                        </li>
                        <li>
                            <i class="fa fa-square-o fa-fw" aria-hidden="true"></i>Item level <b>Price History</b> will bring confidence to purchasing decisions
                        </li>
                        <li>
                            <i class="fa fa-square-o fa-fw" aria-hidden="true"></i><b>Dropshipping feeds</b> will allow dropshippers to receive minute by minute raw data to any dropshipping platform
                        </li>
                    </ul>
                </p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive img-thumbnail timeline-align" src="~/images/about/timeline.jpg" alt="">
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.content-section-b -->
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Join Aliseeks Today<br/>
                                            <span class="small">Of Course, It's Free</span></h2>
                <p class="lead">
                    Get access to cutting-edge features as they are developed and help guide the direction of Aliseeks.                   
                 </p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive img-thumbnail" src="~/images/about/coffee.jpg" alt="">
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.content-section-a -->
<a name="contact"></a>
<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2>Register an account:</h2>
            </div>
            <div class="col-lg-6">
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="/register" class="btn btn-default btn-lg"><span class="network-name">Register</span></a>
                    </li>
                    <li>
                        <a href="/register" class="btn btn-default btn-lg"><span class="network-name">Feedback</span></a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.banner -->
