
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="logo-image-wrapper">
        <img class="logo-image" src="~/images/AliseeksLogo.png" />
    </div>
</div>

@Html.Partial("Partials/SearchBar", new SearchCriteria())
