
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="logo-image-wrapper">
        <img class="logo-image" src="~/images/AliseeksLogo.png" />
    </div>
</div>

@if (!User.Identity.IsAuthenticated)
{ 
<div class="row annoucements-wrapper-mobile hidden-md hidden-lg">
    <div class="annoucements">
        <i class="fa fa-coffee" aria-hidden="true"></i><br />
        Make an <a href="/register">account</a> now to be the first to use the latest features.
    </div>
</div>
}

<div class="searchbar-wrapper">
    @Html.Partial("Partials/SearchBar", new SearchCriteria())
</div>

@if (!User.Identity.IsAuthenticated)
{
    <div class="row annoucements-wrapper hidden-sm hidden-xs">
        <div class="annoucements">
            <i class="fa fa-coffee" aria-hidden="true"></i><br />Make an <a href="/register">account</a> now to be the first to use the latest features.
        </div>
    </div>
}
