@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    Layout = "_DropshippingLayout";
}

@model DropshipOverview

    <h4>Overview</h4>
    <p class="text-muted">Subscription: @Model.Account.Subscription</p>

    <hr />

    <p>Integrations: @Model.IntegrationCount</p>
    <p>Products: @Model.ProductCount / 500</p>

    @if (Model.IntegrationCount == 0)
    {
        <h4>
            Add an integration to get started dropshipping today!
        </h4>
    }