@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="col-md-10 col-center">
    <h4>Dropshipping Item Overview</h4>
</div>