@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{

    Layout = "_DropshippingLayout";
}

@model DropshipIntegration[]

<h4>Integrations</h4>

<div class="row">
    @if(Model.FirstOrDefault(x => x.Service == "Shopify") == null)
    {
        <a asp-controller="dropship" asp-action="integrateshopify" class="btn btn-primary">+ Integrate Shopify</a>
    }
</div>

<div class="row">
    @foreach(var integration in Model)
    {
        <p class="text-capitalize">@integration.Service</p>
        <p class="text-muted">Account Info: @integration.AccountInfo</p>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#delete-modal" onclick="setModalDelete(0)">
            Delete
        </button>
    }
</div>

<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="Delete Integration">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Delete Integration
            </div>
            <div class="modal-body">
                Are you sure you want to delete this integration? All products associated with this integration will be unlinked.
            </div>
            <div class="modal-footer">
                <form class="form-inline" id="modal-remove" method="delete">
                    <button id="btn-modal-remove" class="btn btn-danger" type="submit">Remove</button>
                </form>
                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        function setModalDelete(integrationID)
        {
            $('#modal-remove').attr('href', 'dropship/integration/' + integrationID);
        }
    </script>
}