@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_DropshippingLayout";
}

@model DropshipItemModel

<div class="row">
    <div class="col-md-6">
        <form id="item-form" asp-controller="Dropship" asp-action="Product" method="post" class="form-horizontal">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">AliExpress Link:</label>
                <input asp-for="Source.Link" class="form-control" placeholder="https://www.aliexpress.com/item/10-PCS-LOT-HOT-SALE-GDT-DC-12V-Brushless-Cooling-Fan-40mm-10mm-free-shipping/1776219605.html" />
                <button id="aliexpress-verify"><i class="fa fa-check-circle-o" aria-hidden="true"></i></button>
                <div id="source-verify-content">

                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Shopify Listing:</label>
                <input asp-for="ListingID" class="form-control" placeholder="2513574" />
                <button id="listing-verify"><i class="fa fa-check-circle-o" aria-hidden="true"></i></button>
                <div id="listing-verify-content">

                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Price Adjustment: </label>
                <div class="input-group">
                    <span id="price-unit" class="input-group-addon">$</span>
                    <input asp-for="Rules.Price" class="form-control" placeholder="$" />
                </div>
            </div>
            <div class="form-group">
                <select asp-for="Rules.PriceRule" onchange="priceDropdownChange" class="dropdown form-control input-sm">
                    <option value="0">Static</option>
                    <option value="1">Margin</option>
                    <option value="2">Percentage</option>
                    <option value="3">None</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Stock Adjustment:</label>
                <div class="input-group">
                    <span class="input-group-addon">-</span>
                    <input asp-for="Rules.Stock" class="form-control" placeholder="" type="number" />
                </div>
            </div>
            <div class="form-group">
                <select asp-for="Rules.StockRule" class="dropdown form-control input-sm">
                    <option value="0">Fixed Stock</option>
                    <option value="1">Margin</option>
                    <option value="2">None</option>
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Apply</button>
            </div>
        </form>
    </div>
</div>

@section scripts {
    <script>
        function ajaxVerifyShopify(event) {
            var link = $("[name='ListingID']").val();

            $.ajax({
                url: "/dropship/ajax/shopify?listingid=" + link,
                method: 'GET',
                success: success,
                error: error
            });

            function success(data) {
                $('#listing-verify').empty();
                $('#listing-verify').append('OKAY');
                $('#listing-verify-content').empty();
                $('#listing-verify-content').append(data);
            }

            function error() {
                $('#listing-verify').empty();
                $('#listing-verify').append('NOT OKAY');
            }

            event.preventDefault();
        }

        function ajaxVerifyAliexpress(event)
        {
            var link = $("[name='Source.Link']").val();

            $.ajax({
                url: "/dropship/ajax/aliexpress?link=" + link,
                method: 'GET',
                success: success,
                error: error
            });

            function success(data)
            {
                $('#aliexpress-verify').empty();
                $('#aliexpress-verify').append('OKAY');
                $('#source-verify-content').empty();
                $('#source-verify-content').append(data);
            }

            function error()
            {
                $('#aliexpress-verify').empty();
                $('#aliexpress-verify').append('NOT OKAY');
            }

            event.preventDefault();
        }

        $(function () {
            $('#aliexpress-verify').click(ajaxVerifyAliexpress);
            $('#listing-verify').click(ajaxVerifyShopify);

            $("[name='Rules.PriceRule']").change(function() {
                var dropdown = $("[name='Rules.PriceRule']");
                switch(dropdown.val())
                {
                    case '3':
                        $("[name='Rules.Price']").prop('disabled', true);
                        break;

                    case '2':
                        $('#price-unit').text('%');
                        $("[name='Rules.Price']").attr('placeholder', '10.0%');
                        $("[name='Rules.Price']").prop('disabled', false);
                        break;

                    default:
                        $('#price-unit').text('$');
                        $("[name='Rules.Price']").attr('placeholder', '$10.00');
                        $("[name='Rules.Price']").prop('disabled', false);
                        break;
                }
            });

            $("[name='Rules.StockRule']").change(function () {
                var dropdown = $("[name='Rules.StockRule']");
                switch (dropdown.val()) {
                    case '2':
                        $("[name='Rules.Stock']").prop('disabled', true);
                        break;

                    default:
                        $("[name='Rules.Stock']").prop('disabled', false);
                        break;
                }
            });
        });

        $(priceDropdownChange($('[onchange="priceDropdownChange"]')));

        function priceDropdownChange(target) {
            var dropdown = $(target);

            if(dropdown.val() == 2)
            {
                $('#price-unit').text('%');
            }
            else {
                $('#price-unit').text('$');
            }
        }

</script>
}