//@import "../vendor/bootstrap/_bootstrap.scss";

.account-form {
    background-color: rgba(255,255,255, .8);
    box-shadow: 2px 3px 2px rgba(0,0,0,.4) ;
    margin-top:50px;
    border-radius:10px 10px;
    padding-left:25px;
    padding-right:25px;
}

.profile {
    padding: 15px 15px 15px 15px;

    div {
        padding-right:15px;
        padding-left:15px;
    }
}

.profile-info {
    padding-top: 1rem;
    background-color: lighten(#f8f8f8, 5%);
}

.profile-nav {
    padding-top: 1rem;
    background-color: lighten(#f8f8f8, 5%);
}

.saved-search-list {
    margin-top:2rem;

    a {
        color: $text-color;
    }
}

.list-group-flush {

}