@import "_base.scss";

//Base styles
html {
    min-height: 100%;
    position:relative;
}

body {
    background: $background-color;
    height: 100%;
    min-width:320px;
}

.body-content {
    margin-bottom: $footer-height;
}

.col-center {
    @include center-col();
    text-align:left;
}