@import "_base.scss";

//@import "../vendor/bootstrap/_bootstrap.scss";

.searchbar {
    @extend .col-xs-12;
    @extend .col-sm-12;
    @extend .col-md-8;
    text-align: center;
    max-width: $searchbar-max-width;

    &.center {
        @include center-col();
    }
}

.advanced-link {
    @extend .col-xs-12;
    @extend .col-sm-12;
    @extend .col-md-8;
    text-align: left;
    cursor: pointer;
    margin-top: line-height(1);
    margin-bottom: line-height(1);
    max-width:$searchbar-max-width;

    &.center {
        @include center-col();
        text-align: left;
        margin-top: line-height(-1);
        margin-bottom: line-height(0);
    }
}

.advanced-tools {
    @extend .collapse;
    @extend .form-horizontal;
    max-width:$advanced-tools-mobile-max-width;
    margin-bottom:20px;
    background-color:$shadow-color;
    border: 1px solid darken($shadow-color, 2%);
    padding:10px 10px 10px 10px;
    border-radius:6px;

    &.center {
        @include center-col();
        text-align:left;
    }

    @media (max-width: $screen-sm-max) {
        font-size: type-scale(0);
    }
}

.advanced-tools-bar-wrapper {
    @extend .col-md-8;
    @include center-col();
    max-width:$searchbar-max-width;
}

.advanced-tools-bar {
    @extend .col-md-12;
    height: $searchbar-bar-height;

    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items:center;

    background-color: $shadow-color;
    border-color: $navbar-default-border;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 0px 0px;
    color: $text-light-color;
    font-size: type-scale(0);
}

.input-multi-select-bar {
    width: 20%;
}

.bootstrap-select {
    > .btn {
        padding: 2px 12px;
    }
}

.input-price-control {
    @extend .input-group;
    @extend .col-xs-8;
    @extend .col-md-4;
    @extend .row;
    @extend .form-group;
    float:none;
    max-width: $searchbar-price-max-width;
    min-width: 300px;
}

.input-price-control-bar {
    flex-basis: 18%;
    margin-left:1rem;
    margin-right:1rem;
    input {
        //Use bootstrap form control and display inline
        @extend .form-control;
        display:inline;
        border-radius: 3px 3px;
        width:33%;
        height: line-height(2);
    }
}

.input-ship-control-bar {
    display:inline;
    margin-left:1rem;
    margin-right:1rem;
    select {
        @extend .form-control;
        display:inline;
        width:130px;
        height: line-height(2);
        padding: 2px 2px;
    }
}

.input-price-addon {
    @extend .input-group-addon;
    font-size: 1em;
}

.input-control-label {
    @extend .control-label;
    &.left {
        text-align: left;
        float: left;
    }
}

.input-ship-control {
    max-width: $searchbar-ship-max-width;
}