@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="col-md-8 col-center">
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="text-center">Free Alpha</h3>
                <p class="text-center">Max Products: 500</p>
            </div>
            <div class="panel-body text-center">
                <p class="lead">Free!</p>
            </div>
            <ul class="list-group list-group-flush text-center">
                <li class="list-group-item">
                    500 Products
                </li>
                <li class="list-group-item">
                    Daily Price & Inventory Sync
                </li>
                <li class="list-group-item">
                    One Click Add To Shopify
                </li>
            </ul>
            <div class="panel-footer text-center">
                <form asp-controller="Account" asp-action="Dropshipping" method="post">
                    <input class="hidden" name="Subscription" value="alphapromo" />
                    <button type="submit" class="btn btn-primary">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="text-center">Free Alpha</h3>
                <p class="text-capitalize">Max Products: 500</p>
            </div>
            <div class="panel-body text-center">
                <p class="lead">Free!</p>
            </div>
            <ul class="list-group list-group-flush text-center">
                <li class="list-group-item">
                    500 Products
                </li>
                <li class="list-group-item">
                    Daily Price & Inventory Sync
                </li>
                <li>
                    One Click Add To Shopify
                </li>
            </ul>
            <div class="panel-footer text-center">
                <form asp-controller="Account" asp-action="Dropshipping" method="post">
                    <input class="hidden" name="Subscription" value="alphapromo" />
                    <button type="submit" class="btn btn-primary">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="text-center">Free Alpha</h3>
                <p class="text-capitalize">Max Products: 500</p>
            </div>
            <div class="panel-body text-center">
                <p class="lead">Free!</p>
            </div>
            <ul class="list-group list-group-flush text-center">
                <li class="list-group-item">
                    500 Products
                </li>
                <li class="list-group-item">
                    Daily Price & Inventory Sync
                </li>
                <li>
                    One Click Add To Shopify
                </li>
            </ul>
            <div class="panel-footer text-center">
                <form asp-controller="Account" asp-action="Dropshipping" method="post">
                    <input class="hidden" name="Subscription" value="alphapromo" />
                    <button type="submit" class="btn btn-primary">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</div>