@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="col-md-8 col-center">
    <h4>Want to start dropshipping products?</h4>
    <form asp-controller="Account" asp-action="Dropshipping" method="post">
        <input class="hidden" name="Subscription" value="alphapromo" />
        <button type="submit" class="btn btn-primary">Join our free alpha promo!</button>
    </form>
</div>