@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    Layout = "_AccountLayout";
}

@model AccountOverview
@inject SavedSearchInject SaveSearchDetails

@{
    Func<string, string> searchEndpoint = (qs) => $"/search?{qs}";
    if (Model.User.SavedSearches != null)
    {
        Model.User.SavedSearches = Model.User.SavedSearches.OrderBy(x => x.Criteria.SearchText).ToArray();
    }
}

<h4><span data-toggle="collapse" data-target="#savedSearch" class="">Saved Searches</span></h4>
<div id="savedSearch" class="">
    <div class="list-group saved-search-list">
        @foreach (var savedSearch in Model.User.SavedSearches)
        {
            <div class="list-group-item">
                <a class="pull-right" href="/search/save/@savedSearch.ID/delete"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                <a href="@searchEndpoint(new QueryStringEncoder().Encode(savedSearch.Criteria))">
                    <h4>@savedSearch.Criteria.SearchText</h4>
                    <p class="list-group-item-text">
                        <div class="row">
                            @{
                                var vals = SaveSearchDetails.NonDefaultSearchValues(savedSearch.Criteria);
                                foreach (string key in vals.Keys)
                                {
                                    <span class="col-xs-6">
                                        <span>@key</span><span>: </span><span>@vals[key]</span>
                                    </span>
                                }
                            }
                        </div>
                    </p>
                </a>
            </div>
        }
    </div>
</div>

