@import "_variables.scss";
@import "grid/_grid.scss";
@import "pages/_home.scss";
@import "spacing/_spacing.scss";

html {
    min-height: 100%;
    position:relative;
}

body {
    background: $background-color;
    height: 100%;
}

.body-content {
    margin-bottom: $footer-height;
}

footer {
    background-color: $shadow-color;
    height:$footer-height;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding-left:20vw;
    padding-right:15vw;
    vertical-align:middle;
}