@model ResetValidModel

<div class="row">
    <div class="col-sm-6 col-md-3 col-center">
        <h3>Password Reset</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-2 col-center">
        <form asp-controller="Login" asp-action="PasswordResetValid" method="post" class="form-horizontal">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="hidden">
                <input type="text" asp-for="Token" value="@Model.Token" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">New Password</label>
                <input type="password" asp-for="NewPassword" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Confirm New Password</label>
                <input type="password" asp-for="ConfirmNewPassword" class="form-control" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Change Password</button>
            </div>
        </form>
    </div>
</div>