.row-centered {
  margin: 0 auto;
  text-align: center; }

.col-centered, .logo-image-wrapper {
  display: inline-block;
  float: none;
  text-align: left;
  margin-right: -4px; }

.logo-image {
  display: inline; }

.logo-image-wrapper {
  margin-top: 10vh; }

.text-center, .logo-image-wrapper {
  text-align: center; }

.vertical-space-sm {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.vertical-space-md {
  margin-top: 1.66rem;
  margin-bottom: 1.66rem; }

.vertical-space-lg {
  margin-top: 1.66rem;
  margin-bottom: 1.66rem; }

html {
  min-height: 100%;
  position: relative; }

body {
  background: #F7F9F9;
  height: 100%; }

.body-content {
  margin-bottom: 60px; }

footer {
  background-color: #e8eeee;
  height: 60px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding-left: 20vw;
  padding-right: 15vw;
  vertical-align: middle; }
